@import "fonts";
@import "mixins";
@import "variables";
@import url(./Components.css);

#App {
  background-color: $white;
  @include raleway-font;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  * {
    overflow-wrap: break-word;
    transition: 0.2s;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1680px) {
    font-size: 13pt;
  }
  @media screen and (max-width: 1280px) {
    font-size: 12.5pt;
  }
  @media screen and (max-width: 736px) {
    font-size: 12pt;
  }
  @media screen and (max-width: 360px) {
    font-size: 11pt;
  }
}

#footer {
  flex-grow: 0;
  margin: auto;
  width: 100%;
  min-height: 2em;
  padding: 10px;
  .footer-item {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-content: space-around;
    @include small-icon;
    img {
      &:hover {
        @include highlight-filter;
        translate: 0px -5px;
      }
    }
    .text-link {
      @include hint-text;
      margin: 5px 10px;

      &:hover {
        color: $highlight;
        @include medium-weight;
        translate: 0px -5px;
      }
    }
  }
}
