* {
  font-family: "Montserrat", sans-serif;
  color: #353535;
}

.App {
  background-color: #f0f0f0;
  min-height: 100vh;
}

@media screen and (max-width: 1680px) {
  .App {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1280px) {
  .App {
    font-size: 12.5pt;
  }
}

@media screen and (max-width: 736px) {
  .App {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  .App {
    font-size: 11pt;
  }
}

.wrapper {
  position: relative;
}

.container {
  display: grid;
  grid-template-areas: "card board";
  min-height: 100vh;
}

.board {
  border: 1;
  margin: auto;
  border-style: solid;
  border-color: #656d4a;
  background-color: #c2c5aa;
  border-radius: 0.25em;
  width: 40em;
  height: 40em;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 1115px) {
  .container {
    display: block;
    padding-bottom: 5em;
  }
}

@media screen and (max-width: 736px) {
  .board {
    width: 96vw;
    height: 96vw;
  }
}

/*Card*/
.card {
  width: fit-content;
  max-width: 25em;
  height: fit-content;
  margin: auto;
  display: block;
  padding: 1em;
  border: 0;
}

.cardText {
  font-size: 1em;
  line-height: 1.5em;
}

.icon {
  color: #ffffff;
}

.button {
  display: block;
  justify-content: center;
  padding: 0.5em 1em;
  margin: 0.5em auto;
  background-color: #353535;
  color: #ffffff;
  font-size: 1em;
  border: 0;
  border-radius: 0.5em;
}

.disabled {
  background-color: #cacaca;
  color: #777777;
}

/*Footer*/
.footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  margin: 0.5em auto;
}
.footerText {
  text-align: center;
  font-size: 100%;
  color: #444444;
  font-weight: 600;
}
a:link {
  color: #353535;
  text-decoration: none;
}
a:visited {
  color: #353535;
  text-decoration: none;
}
a:hover {
  color: #82a805;
}
a:active {
  color: #82a805;
}
