@import "fonts";
@import "mixins";
@import "variables";

#knights-tour {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  @media screen and (max-width: 1170px) {
    flex-direction: column;
    justify-content: space-around;
  }
}

#info-card {
  width: 600px;
  margin: 1em;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1200px) {
    width: 450px;
  }
  @media screen and (max-width: 1170px) {
    width: 100%;
    margin: auto;
  }
  .info-container {
    margin: 1em;
    h3 {
      text-align: center;
      display: block;
      @include header-text;
    }
    .description {
      @include body-text;
      line-height: 1.5em;
    }
    .tour-status {
      text-align: center;
      display: block;
      font-size: 1.2em;
      color: $highlight;
      @include heavy-weight;
    }
    .button-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

button {
  appearance: none;
  background-color: $grey;
  @include body-text;
  @include medium-weight;
  min-width: max-content;
  width: 200px;
  height: 40px;
  padding: 10px;
  margin: 0.5em;
  color: #ffffff;
  border: 1px solid $grey;
  border-radius: 0.5em;
  &.restart:not(.disabled) {
    background: url(../assets/images/icons8-restart-24.png) no-repeat 95% $grey;
  }
  &.undo:not(.disabled) {
    background: url(../assets/images/icons8-undo-24.png) no-repeat 95% $grey;
  }
  &.disabled {
    background-color: $light_grey;
    border-color: $light_grey;
    color: $disabled_text;
  }
  &:hover:not(.disabled) {
    font-size: 1.1em;
    box-shadow: 0 0 0.5em $grey;
  }
}

#board {
  border: 1;
  margin: 1em auto;
  border-style: solid;
  border-color: #656d4a;
  background-color: #c2c5aa;
  border-radius: 0.25em;
  width: 40em;
  height: 40em;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (max-width: 1170px) {
    margin: auto;
  }
  @media screen and (max-width: 736px) {
    width: 96vw;
    height: 96vw;
  }
}

.square {
  width: 5em;
  height: 5em;
  margin: 0em;
  display: flex;
  align-items: center;
  color: $charcoal;
  justify-content: center;
  &.white {
    background-color: $light_square;
  }
  &.black {
    background-color: $dark_square;
  }
  &.highlight {
    background-color: $highlight;
  }
  img {
    width: 3em;
    height: 3em;
  }
  p {
    font-size: 2em;
    @include medium-weight;
    color: $charcoal;
  }
  @media screen and (max-width: 736px) {
    width: 12vw;
    height: 12vw;
    img {
      width: 2.5em;
      height: 2.5em;
    }
    p {
      font-size: 1.5em;
    }
  }
}
