#knights-tour {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

@media screen and (max-width: 1335px) {
  #knights-tour {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#info-card {
  width: 600px;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1335px) {
  #info-card {
    width: 100%;
    margin: auto;
  }
}

#info-card .info-container {
  margin: 1em;
}

#info-card .info-container h3 {
  text-align: center;
  display: block;
  padding: 0;
  margin: 10px;
  font-size: 2em;
  font-weight: 400;
}

#info-card .info-container .description {
  font-size: 1.05em;
  line-height: 1.5em;
}

@media only screen and (max-width: 700px) {
  #info-card .info-container .description {
    font-size: 1.2em;
  }
}

#info-card .info-container .tour-status {
  text-align: center;
  display: block;
  font-size: 1.2em;
  color: #7aaf3c;
  font-weight: 600;
}

#info-card .info-container .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #303030;
  font-size: 1.05em;
  font-weight: 500;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 200px;
  height: 40px;
  padding: 10px;
  margin: 0.5em;
  color: #ffffff;
  border: 1px solid #303030;
  border-radius: 0.5em;
}

@media only screen and (max-width: 700px) {
  button {
    font-size: 1.2em;
  }
}

button.restart:not(.disabled) {
  background: url(../assets/images/icons8-restart-24.png) no-repeat 95% #303030;
}

button.undo:not(.disabled) {
  background: url(../assets/images/icons8-undo-24.png) no-repeat 95% #303030;
}

button.disabled {
  background-color: #cacaca;
  border-color: #cacaca;
  color: #777777;
}

button:hover:not(.disabled) {
  font-size: 1.1em;
  -webkit-box-shadow: 0 0 0.5em #303030;
          box-shadow: 0 0 0.5em #303030;
}

#board {
  border: 1;
  margin: 1em auto;
  border-style: solid;
  border-color: #656d4a;
  background-color: #c2c5aa;
  border-radius: 0.25em;
  width: 40em;
  height: 40em;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1335px) {
  #board {
    margin: auto;
  }
}

@media screen and (max-width: 736px) {
  #board {
    width: 96vw;
    height: 96vw;
  }
}

.square {
  width: 5em;
  height: 5em;
  margin: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #181818;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.square.white {
  background-color: #d0d2c2;
}

.square.black {
  background-color: #5f664a;
}

.square.highlight {
  background-color: #7aaf3c;
}

.square img {
  width: 3em;
  height: 3em;
}

.square p {
  font-size: 2em;
  font-weight: 500;
  color: #181818;
}

@media screen and (max-width: 736px) {
  .square {
    width: 12vw;
    height: 12vw;
  }
  .square img {
    width: 2.5em;
    height: 2.5em;
  }
  .square p {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=Components.css.map */