.App {
    background-color: rgb(235, 235, 235);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Board{
  border: 1;
  border-style: solid;
  border-color: rgb(105, 72, 0);
  background-color: rgb(238, 189, 116);
}