.App {
    background-color: rgb(235, 235, 235);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Board{
  border: 1;
  border-style: solid;
  border-color: rgb(105, 72, 0);
  background-color: rgb(238, 189, 116);
}

.Card{
  width: 400px;
  height: 300px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.cardText{
  font: 17px Georgia, serif;
}

.cardHeader{
  font: small-caps bold 23px Georgia, serif;
}

.button{
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modeButton{
  margin: 5px;
}